// Colors
$primaryColor: #0081A7;
$blackColor: #000000;
$black20Color: #00000020;
$surfaceColor: #EFEFEF;
$lightColor: #F9F9F9;
$redColor: #F07167;

// Fonts
$primaryFont: Inter, sans-serif;
$secondaryFont: InstrumentSans, sans-serif;
$smallFontSize: 14px;
$basicFontSize: 16px;
$basicFontWeight: 400;
$boldFontWeight: 700;
$h1FontSize: 40px;
$h1FontWeight: $boldFontWeight;
$h1LineHeight: 1;
$h2FontSize: 24px;
$h2FontWeight: $boldFontWeight;

// Borders
$borderRadius: 8px;

// Paddings
$buttonPadding: 8px 24px;

// Transitions
$basicTransition: all 0.2s ease-in-out;

// Avatar
$avatarSize: 96px;